@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/scada/resources/fonts/schibsted_grotesk_regular.ttf");
}


/* @import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: rgb(79, 0, 153);
  color: white;
}

* {
  font-family: "Schibsted Grotesk", serif;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: transparent;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #513685;
  height: 8px;
  border-radius: 9999px;
}

input[type="range"]::-moz-range-track {
  background: #513685;
  height: 8px;
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #91d50a;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #93d50a;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
